* {
  font-family: "Roboto", sans-serif;
}

a {
  color: rgba(191, 82, 114);
}

body {
  background-color: rgba(191, 82, 114, 0.2);
}

h1 {
  text-align: center;
}

hr {
  margin: 2rem 1rem;
  border: none;
  border-top: 1px solid rgba(191, 82, 114);
}

.center-text {
  text-align: center;
}

.split-view {
  display: flex;
  flex-direction: column;
}

.split-view iframe {
  aspect-ratio: 4/3;
  height: 100%;
  width: 100%;
}

@media (min-width: 1024px) {
  .split-view {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
  }
}
