.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem;
}

.footerlink {
  color: #363636;
  text-decoration: none;
}

.logo {
  width: 100%;
  text-align: center;
}

.main {
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 0.5rem;
  padding: 0.5rem;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style-type: none;
  margin: 0.5rem;
  padding-left: 0;
  text-align: center;
}

@media (min-width: 678px) {
  .footer {
    margin: 1rem auto;
    width: 66%;
  }

  .logo {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .main {
    margin: 1rem auto;
    padding: 1rem;
    width: 66%;
  }

  .nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }
}
