.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ebebeb;
  font-size: 1rem;
  text-decoration: none;
}

.link:hover {
  filter: drop-shadow(0px 0px 7px rgb(191, 82, 114));
}

.link svg {
  margin-left: 0.5rem;
  height: 1rem;
}

.listitem {
  margin: 0.5rem 1rem;
}

@media (min-width: 678px) {
  .link {
    font-size: 1.25rem;
  }
}
