@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

* {
  font-family: "Source Sans 3", sans-serif;
}

a {
  color: rgba(191, 82, 114);
}

body {
  background-color: #000000;
}

h1 {
  font-family: 'Creepster', 'Source Sans 3', Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
}

hr {
  margin: 2rem 1rem;
  border: none;
  border-top: 1px solid rgba(191, 82, 114);
}

table {
  border: 3px solid rgba(191, 82, 114);
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  width: 100%;
}

table td,
table th {
  padding: 0.5rem;
}

table tr td:nth-child(2) {
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: rgba(191, 82, 114, 0.2);
}

.center-text {
  text-align: center;
}

.split-view,
.two-column {
  display: flex;
  flex-direction: column;
}

.split-view iframe {
  aspect-ratio: 4/3;
  height: 100%;
  width: 100%;
}

@media (min-width: 1024px) {
  .split-view {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 2rem;
  }
  .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  table {
    width: 75%;
  }
}
