.link {
  color: #ebebeb;
  font-size: 1rem;
  text-decoration: none;
}

.link div {
  margin-left: 0.5rem;
}

.listitem {
  margin: 0.5rem 1rem;
}

@media (min-width: 678px) {
  .link {
    font-size: 1.25rem;
  }
}
