.field {
  border: 1px solid #363636;
  border-radius: 2px;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  width: 100%;
}

.field:focus {
  box-shadow: 0 0 0 2px rgba(191, 82, 114);
  outline: 2px solid rgba(191, 82, 114);
}

.fieldinfo {
  display: flex;
  margin-top: 0.5rem;
}

.form {
  margin: 1rem auto;
  width: 100%;
}

.submit {
  background-color: rgba(191, 82, 114);
  border: 1px solid transparent;
  border-radius: 2px;
  color: white;
  padding: 0.75rem 1.5rem;
  width: 100%;
}

.submit:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

@media (min-width: 678px) {
  .field {
    margin-bottom: 0;
  }

  .fieldinfo {
    margin-top: 0;
  }

  .form {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
    width: 75%;
  }

  .label {
    text-align: right;
  }

  .submit {
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: right;
    width: auto;
  }
}

@media (min-width: 900px) {
  .form {
    width: 66%;
  }
}
